<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>tiphiopsprometheus</name>
	<displayName><![CDATA[Prometheus Exporter]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[A Prometheus exporter for Prestashop]]></description>
	<author><![CDATA[Martin \"tiphedor\" STEFFEN]]></author>
	<tab><![CDATA[analytics_stats]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
